<h1>Sellers</h1>
<br />
<body>
<div class='list'>
<% if @sellers.any? %>
  <ul>
    <% @sellers.each do |seller| %>
      <li><%= link_to seller.name, seller_path(seller) %>
      </li>
      <end>
  <% end %>
</ul>
<% else %>
  <h3>No Sellers, please add your name.</h3>
<% end %>

<%= link_to 'Add New Seller', new_seller_path %>
</body>
</div>